<!DOCTYPE html>
<html>
  <head>
    <title>Nutmeg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# stripe.js elements wants this set: https://stripe.com/docs/stripe-js/elements/quickstart#viewport-meta-requirements %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= load_stripe_if_this_page_needs_it %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
